.channel-list-wrapper h4 {
  margin-bottom: 16px;
}

.channel-list-wrapper li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.channel-list-wrapper li a {
  text-decoration: none;
  color: #006aff;
}
